@import "src/assets/variables-colors";
@import "src/assets/variables";

.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &__text {
    font-size: $fs-26;
    font-weight: $fw-800;
    color: $color-green;
    text-transform: uppercase;
    transition: color $transition-time;
  }
}
