@import "src/assets/variables-colors";
@import "src/assets/variables";

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;

  &.error {
    .inputContainer {
      border-color: $color-red;

      .inputField {
        color: $color-red;
      }
    }
  }
}

.inputLabel {
  font-size: $fs-14;
  color: $color-gray;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 0.5em 0.75em;
  border: 0.03em solid $color-light-gray;
  border-radius: 0.5em;
  background: $color-white;

  &:focus-within {
    border-color: $color-blue-2;
  }

  .inputIcon {
    margin-right: 0.5em;
    color: $color-blue;
    font-size: $fs-16;
  }
}

.inputField {
  flex: 1;
  border: none;
  outline: none;
  font-size: $fs-16;
  color: $color-dark-blue;

  &::placeholder {
    color: $color-light-gray-2;
  }
}

.inputError {
  font-size: $fs-12;
  color: $color-red;
  margin-top: 0.25em;
}
