@import 'src/assets/variables-colors';
@import 'src/assets/variables';

.aside {
    position: fixed;
    top: 0;
    width: $aside-width;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.7em 0.9em $color-dark-gray;
    padding: 10em 1em 3em;
    z-index: 1;

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__button {
        background-color: transparent;

        &:hover {
            background-color: transparent;
        }
    }
}
