@import "src/assets/variables-colors";
@import "src/assets/variables";
@import "src/assets/mixins";

.form {
  flex-direction: column;
  @include flex-center;

  &__input {

    &--email,
    &--password {
      width: 100%;
      max-width: 20em;
    }
  }

  &__button {
    background-color: #007bff;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    width: 100%;
    max-width: max-content;
  }

  &__message {
    &--error {
      color: $color-red;
    }
  }
}
