@import "src/assets/variables-colors";
@import "src/assets/variables";

.card {
  background: $color-white;
  border-radius: 0.75em;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
  border: 0.03em solid $color-light-gray;
  padding: 1.25em;
  margin: 0.7em 0;
  transition: transform $transition-time, box-shadow $transition-time;

  &:hover {
    transform: translateY(-0.31em);
    box-shadow: 0 0.63em 0.94em rgba(0, 0, 0, 0.1);
  }

  &__title {
    font-size: 1.2em;
    font-weight: $fw-800;
    margin-bottom: 0.63em;
  }

  &__content {
    color: $color-gray;
  }

  &__footer {
    margin-top: 0.94em;
    text-align: right;
    font-size: 0.9em;
    color: $color-blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
