@import "src/assets/variables-colors";
@import "src/assets/variables";
@import "src/assets/mixins";

.header {
  padding: 1.4em 0;
  box-shadow: 0 0.13em 0.44em -0.19em $color-dark-gray;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include container;
  }

  &__info {
    display: flex;
    gap: 1.75em;
    align-items: flex-end;
  }
}
