@import 'src/assets/variables-colors';
@import 'src/assets/variables';
@import 'src/assets/mixins';

.delete-popup {
    min-width: 43.75em;
    border-radius: 0.5em;
    background: $color-white;

    &__content {
        padding: 1.5em;
    }

    &__title {
        font-size: $fs-24;
        font-weight: $fw-400;
        color: $color-dark-blue;
    }

    &__description {
        font-size: $fs-22;
        font-weight: $fw-400;
        margin-top: 1.75em;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 1.25em;
        padding: 1.5em;
        background-color: $color-green;
    }

    &__button {
        font-size: $fs-16;
        font-weight: $fw-400;
        transition: $transition-time;
        text-transform: uppercase;

        &--cancel {
            color: $color-white;

            &:hover {
                background-color: transparent;
                color: $color-light-gray;
            }
        }

        &--delete {
            gap: 0.5em;
            padding: 0.75em 1.25em;
            border-radius: 1.5em;
            background-color: $color-white;
            color: $color-red;

            &:hover {
                background-color: $color-red;
                color: $color-white;
            }
        }
    }
}
