
// @TODO remove unused vars
$fs-36: 2.25em;
$fs-26: 1.65em;
$fs-24: 1.5em;
$fs-22: 1.38em;
$fs-18: 1.25em;
$fs-16: 1em;
$fs-14: 0.88em;

$fw-800: 800;
$fw-400: 400;

$border-radius: 0.25em;

// transition
$transition-time: 0.3s;
