// global colors
$color-black: #000000;
$color-blue: #4a90e2;
$color-blue-2: #3b82f6;
$color-red: #e74c3c;
$color-light-gray: #d1d5db;
$color-light-gray-2: #9ca3af;
$color-gray: #6b7280;
$color-dark-gray: #333;
$color-white: #ffffff;
$color-dark-blue: #111827;
$color-green: #71db41;
$color-green-2: #579738;

