@import 'src/assets/variables-colors';
@import 'src/assets/variables';
@import 'src/assets/mixins';

.container {
    display: flex;
    justify-content: center;
    @include container;
    flex-direction: column;
    padding-top: 5em;
    gap: 1em;
}

.title {
    margin: 0;
    text-align: center;
}

.link {
    text-align: center;
    color: $color-blue;

    &:hover {
        text-decoration: underline;
    }
}
