@import "src/assets/variables-colors";
@import "src/assets/variables";
@import "src/assets/mixins";

.container {
  display: flex;
  justify-content: center;
  @include container;
  flex-direction: column;
  padding-top: 5em;
}

.title {
  text-align: center;
}
