@import 'src/assets/variables-colors';
@import 'src/assets/variables';
@import 'src/assets/mixins';

.container {
    display: flex;
    justify-content: center;
    @include container;
    flex-direction: column;
    padding-top: 5em;
    gap: 1em;
}

.title {
    margin: 0;
    text-align: center;
}

.link {
    text-align: center;
    color: $color-blue;

    &:hover {
        text-decoration: underline;
    }
}

.dashboard {
  padding: 1.25em;
  min-height: 100vh;

  &__header {
    font-size: 2em;
    font-weight: $fw-800;
    margin-bottom: 1.25em;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75em, 1fr));
    gap: 1.25em;
  }
}

.loader-container {
    @include flex-center;
    height: 100vh;
}
